<%= form_for challenge do |form| %>
  <div class="field">
    <label>Challenger: <strong><%=current_user.username%></strong></label>
  </div>

  <div class="field">
    <%= form.hidden_field :challenger_id, value: current_user.id %>
    <%= form.label :challengee %>
    <br>
    <%= form.select :challengee_id, options_from_collection_for_select(@challengers, :id, :username)%>
  </div>


  <div class="field">
    <%= form.label :event_id%>
    <br>
    <%= form.select :event_id, options_from_collection_for_select(@events, :id, :name)%>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>


  <div class="actions">
    <%= form.submit "#{@challenge.persisted? ? 'Update' : 'Create' } Challenge" %>
  </div>
<% end %>
