<p>
  <strong>Challenger:</strong>
  <%= @challenge.challenger %>
</p>

<p>
  <strong>Challengee:</strong>
  <%= @challenge.challengee %>
</p>

<p>
  <strong>Time:</strong>
  <%= @challenge.start_time.strftime(parsed_time_and_date)%>
</p>

<p>
  <strong>Challenge Type:</strong>
  <%= @challenge.event.name %>
</p>

<% if @challenge.challengee == current_user.username %>
 <%= link_to 'Accept', edit_challenge_path(@challenge) %> |
 <%= link_to 'Reject', edit_challenge_path(@challenge) %> |
<% elsif @challenge.challenger == current_user.username %>
  <%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<% end %>
<%= link_to 'Back', schedule_path %>
